<div class="comment" id="<%= dom_id(comment)%>">
  <%= link_to 'X', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete ,
               :remote=>true,
               :class=>'fr'%>
<span><a href="#"><%= comment.commenter%></a></span><span class="gray"> &bull; <%= time_ago_in_words(comment.created_at) %> ago</span><br />

  <% if comment.fromid %>
  <p class="replyshow alert alert-info">
    <span>Reply To :
      <%= link_to "#" do %>
        @<%= reply_to(comment,@post) %>
      <% end %>
    </span>
   <%= @post.comments.find(comment.fromid).body %>
  </p> 
  <% end -%>
  <p class="comment-c"><%= comment.body %></p> 



<p class="reply"><i class="icon-share-alt pull-right" onclick="if(document.getElementById('add_reply-<%= comment.id%>').style.display=='none'){document.getElementById('add_reply-<%= comment.id%>').style.display='block';}else{document.getElementById('add_reply-<%= comment.id%>').style.display='none';}"></i></p>

<section id="add_reply-<%= comment.id%>" class="replyform"> 
<%= form_tag({:action=>"add_reply",:remote=>true,:comment_id=>comment.id,:post_id=>@post.id,:controller=>"comments" }) do %>
  <%= text_area_tag :reply,nil,:class=>"tag_field",:placeholder=>"Reply Content" %>
  <%= submit_tag 'Reply',:class=>'btn btn-info',:disable_with=>"Adding" %>
<% end %>
</section>

<div class="clear"></div>
</div>