<% @post.tags.build %>
<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Name: 
    <%= f.text_field :name,:class=>"span10" %>
  </div>
  <div class="field span10 left0">
    Content: 
    <%= f.text_area :content, :class=>"span10" %>
  </div>
  <div class="clear"></div>
   <div class="field">
    Tag List: 
    <%= f.text_field :tag_list,:class=>"span10" %>
  </div>
   <div class="field">
    <%= f.hidden_field :userid,:class=>"span10",:value=>current_user.id %>
  </div>
  <div class="field">
    WEBM:<%= f.file_field :video2,:class=>"span10" %>
  </div>
  <div class="field">
    MP4:<%= f.file_field :file2,:class=>"span10" %>
  </div>

 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
