<%= content_for :title do %>
 <%= @post.name %>
<% end %>
<%- e_mail = current_user.email rescue nil %>
<% unless notice.nil? %>
<p id="notice" class="alert alert-info">
<a class="close" data-dismiss="alert">×</a>
<%= notice %>
</p>
<% end %>
<p><%= link_to "首页", :root %> / <%= link_to "博客", posts_path %> / <%= @post.name %></p>
  <h1> <%= @post.name %></h1>
  <p><%= social_share_button_tag(@post.name) %></p>
  <%=h time_tag @post.created_at ,:class=>"gray"%>
  <span class="gray"> By <%= link_to @user.nickname || @user.email, "/users/#{@user.id}", :class=>"gray"%></span>

 
 <% unless @post.video2.to_s.empty? %>
   <% if MIME::Types.type_for(@post.video2.path).to_s.index("video") %>
   <p> </p>
     <div id="overlay"></div>
     <p><video controls="controls" class="span12" id="video" >
      <source src="<%= @post.video2.url %>" />
      <source src="<%= @post.video2.url.gsub(/webm/,"mp4") %>" />
     </video></p>
     <p class="clear"></p>
     <p class="btn btn-info wideview">Wide View</p>
   <% end %>
   <% if MIME::Types.type_for(@post.video2.path).to_s.index("image") %>
     <p><%= link_to(@post.video2.url) do %><img src="<%= @post.video2.url %>" />  
        <% end %>
     </p>
   <% end %>
 <% end %>

<p>
  <%=  markdown(@post.content).html_safe %>
</p>


<p class="tags" id="alltag"><i class="icon-tags pull-left"></i><span> : </span>
<% if @post.tags == [] %>
<span class="label label-success empty">Empty Tags</span>
<% else%>
 <%= render :partial=>'tag', :collection=>@post.tags %>
<% end %>
</p>
<% if can? :add_tag, @post %>
    <i class="icon-plus add_tag" onclick="if(document.getElementById('add_tag').style.display=='none'){document.getElementById('add_tag').style.display='block';}else{document.getElementById('add_tag').style.display='none';}" ></i>
    <div class="clear"></div>
    <section id="add_tag"> 
    <%= form_tag("/posts/#{params[:id]}/add_tag/",:remote=>true,:method=>:post) do %>
    <fieldtag>
      <%= text_field_tag :tag_id,nil,:class=>"tag_field",:placeholder=>"Tag Name" %>
      <%= submit_tag 'Add A Tag',:class=>'btn btn-info',:disable_with=>"Adding" %>
    </fieldtag>
    <% end %>
    </section>
<% end %>

<div class="clear"></div>
<% if can? :destroy, @post %>
<%= link_to 'Destroy', @post , :method=> :delete , :confirm=>"Are you sure to delete ?" %> | 
<% end %>
<% if can? :update, @post %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
<br /><br />
<p><% unless @firstpost.id == @post.id %><%= link_to "Pre Post", @prepost %><% end %> | <% unless @lastpost.id == @post.id %><%= link_to "Next Post", @postnext %><% end %></p>

<section class="comment-wrap">
<p class="label label-info commcount">收到<span class="anum"><%= @post.comments.count.to_s %></span>条评论.</p>
<% @post.comments.each do |comment| %>
<div class="comment" id="<%= dom_id(comment)%>">
  <% if can? :destroy, comment %>
  <%= link_to 'X', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete ,
               :remote=>true,
               :class=>'fr'%>
  <% end %>
<span><a href="#"><%= comment.commenter%></a></span><span class="gray"> &bull; <%= time_ago_in_words(comment.created_at) %> ago</span><br />

  <% if comment.fromid %>
  <p class="replyshow alert alert-info">
    <span>Reply To :
      <%= link_to "#" do %>
        @<%= reply_to(comment,@post) %>
      <% end %>
    </span>
   <%= @post.comments.find(comment.fromid).body %>
  </p> 
  <% end -%>
  <p class="comment-c"><%= comment.body %></p> 



<p class="reply"><i class="icon-share-alt pull-right" onclick="if(document.getElementById('add_reply-<%= comment.id%>').style.display=='none'){document.getElementById('add_reply-<%= comment.id%>').style.display='block';}else{document.getElementById('add_reply-<%= comment.id%>').style.display='none';}"></i></p>

<section id="add_reply-<%= comment.id%>" class="replyform"> 
<%= form_tag({:action=>"add_reply",:remote=>true,:comment_id=>comment.id,:post_id=>@post.id,:controller=>"comments",:namenil=>e_mail }) do %>
  <%= text_area_tag :reply,nil,:class=>"tag_field",:placeholder=>"Reply Content" %>
  <%= submit_tag 'Reply',:class=>'btn btn-info',:disable_with=>"Adding" %>
<% end %>
</section>

<div class="clear"></div>
</div>
<% end %>
</section>
<br />

<%= form_for([@post,@post.comments.build],:remote=>true)  do |f| %>
<div class="field">
  <%= f.text_field :commenter ,:class=>"span12",:placeholder=>"昵称"%>
</div>
<div class="field">
  <%= f.text_area :body, :class=>"span12 commentbody", :placeholder=>"评论内容"%>
</div>
<div class="actions">
  <%= f.submit :class=>"btn btn-info"%>
</div>
<% end %>
