<% unless notice.nil? %>
<p id="notice" class="alert alert-info">
<a class="close" data-dismiss="alert">×</a>
<%= notice %>
</p>
<% end %>
<p><%= link_to "Home", :root %> / <%= link_to "Posts", posts_path %> / <%= @post.name %></p>
  <h1> <%= @post.name %></h1>
  <p><%= social_share_button_tag(@post.name) %></p>
  <%=h time_tag @post.created_at ,:class=>"gray"%>
  
<p>
  <%= raw markdown.render(@post.content) %>
</p>

<p class="gray"><i class="icon-tags"></i> : <% @post.tags.each do |tag| %>
  <%= link_to(:action=>:tag,:tag_id=>tag.name) do %>
    <span class="label label-success"><%= tag.name%></span>
  <% end %>
 <%= link_to 'X', tag_path,
               :confirm => 'Are you sure?',
               :method => :delete %>
<% end %>


</p>
<% if can? :destroy, @post %>
<%= link_to 'Destroy', @post , :method=> :delete , :confirm=>"Are you sure to delete ?" %> | 
<% end %>
<% if can? :update, @post %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
<br /><br />

<h2>Comments:</h2>
<section class="comment-wrap">
<p class="label label-info"><%= @post.comments.count.to_s %> comments has been submitted.</p>
<% @post.comments.each do |comment| %>
<div class="comment">
  <%= link_to 'X', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete ,
               :class=>'fr'%>
<span><%= comment.commenter%> says : </span><br />
<p class="comment-c"><%= comment.body %></p> <br />

<div class="clear"></div>
</div>
<% end %>
</section>
<br />

<h2>Add a comment:</h2>
<%= form_for([@post,@post.comments.build])  do |f| %>
<div class="field">
  <%= f.label :commenter %>
  <%= f.text_field :commenter ,:class=>"span6"%>
</div>
<div class="field">
  <%= f.label :body%>
  <%= f.text_area :body, :class=>"span6 commentbody"%>
</div>
<div class="actions">
  <%= f.submit :class=>"btn btn-primary"%>
</div>
<% end %>


delete
