<%- e_mail = current_user.email rescue nil %>
<% unless notice.nil? %>
<p id="notice" class="alert alert-info">
<a class="close" data-dismiss="alert">×</a>
<%= notice %>
</p>
<% end %>
<p><%= link_to "Home", :root %> / <%= link_to "Posts", posts_path %> / <%= @post.name %></p>
  <h1> <%= @post.name %></h1>
  <p><%= social_share_button_tag(@post.name) %></p>
  <%=h time_tag @post.created_at ,:class=>"gray"%>
  
<p>
  <%= raw markdown.render(@post.content) %>
</p>

<p class="tags clear-fix"><i class="icon-tags pull-left"></i><span> : </span>
<% @post.tags.each do |tag| %>
  <%= link_to(:action=>:tag,:tag_id=>tag.name) do %>
    <span class="label label-success"><%= tag.name%></span>
  <% end %>
  <%= link_to 'x', {
                    :action =>"remove_tag",
                    :id=> @post.id,
                    :tag_id => tag.name,
                    :confirm => 'Are you sure to delete the tag?',
                    :controller=>'posts',
                   }, :class=>'remove_tag'%>

<% end %>

  
<i class="icon-plus add_tag" onclick="if(document.getElementById('add_tag').style.display=='none'){document.getElementById('add_tag').style.display='block';}else{document.getElementById('add_tag').style.display='none';}" ></i>

</p>

<section id="add_tag"> 
<%= form_tag({:action=>"add_tag",:remote=>true,:id=>@post.id,:controller=>"posts"},:method=>:put) do %>
  <%= text_field_tag :tag_id,nil,:class=>"tag_field",:placeholder=>"Tag Name" %>
  <%= submit_tag 'Add A Tag',:class=>'btn btn-info',:disable_with=>"Adding" %>
<% end %>
</section>

<% if can? :destroy, @post %>
<%= link_to 'Destroy', @post , :method=> :delete , :confirm=>"Are you sure to delete ?" %> | 
<% end %>
<% if can? :update, @post %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
<br /><br />

<h2>Comments:</h2>
<section class="comment-wrap">
<p class="label label-info"><%= @post.comments.count.to_s %> comments has been submitted.</p>
<% @post.comments.each do |comment| %>
<div class="comment">
  <%= link_to 'X', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete ,
               :class=>'fr'%>
<span><a href="#"><%= comment.commenter%></a> says : </span><br />
<p class="comment-c"><%= comment.body %></p> <br />

<% if comment.fromid %>
<p class="replyshow"><span>Reply To : @</span><%= reply(comment,@post) %></p> 
<% end -%>

<p class="reply"><i class="icon-share-alt pull-right" onclick="if(document.getElementById('add_reply-<%= comment.id%>').style.display=='none'){document.getElementById('add_reply-<%= comment.id%>').style.display='block';}else{document.getElementById('add_reply-<%= comment.id%>').style.display='none';}"></i></p>

<section id="add_reply-<%= comment.id%>" class="add_reply_form"> 
<%= form_tag({:action=>"add_reply",:remote=>true,:comment_id=>comment.id,:post_id=>@post.id,:controller=>"comments"}) do %>
<p class="reply"><i class="icon-share-alt pull-right" onclick="if(document.getElementById('add_reply_<%= comment.id%>').style.display=='none'){document.getElementById('add_reply_<%= comment.id%>').style.display='block';}else{document.getElementById('add_reply_<%= comment.id%>').style.display='none';}"></i></p>

<section id="add_reply_<%= comment.id%>" class="replyform"> 
<%= form_tag({:action=>"add_reply",:remote=>true,:comment_id=>comment.id,:post_id=>@post.id,:controller=>"comments",:namenil=>e_mail }) do %>
  <%= text_area_tag :reply,nil,:class=>"tag_field",:placeholder=>"Content" %>
  <%= submit_tag 'Reply',:class=>'btn btn-info',:disable_with=>"Adding" %>
<% end %>
</section>

<div class="clear"></div>
</div>
<% end %>
</section>
<br />

<h3>Add Comment:</h3>
<%= form_for([@post,@post.comments.build])  do |f| %>
<div class="field">
  Commnter: <%= f.text_field :commenter ,:class=>"span6"%>
</div>
<div class="field">
  Content: <%= f.text_area :body, :class=>"span6 commentbody"%>
</div>
<div class="actions">
  <%= f.submit :class=>"btn btn-info"%>
</div>
<% end %>