<% content_for :title do %>
Linux 命令大全,集锦
<% end %>
<h2>Linux命令</h2>
<section class="commands">
<% @commands.each do |c|%>



<div class="command">
	<% if can? :delete, @command %><span><%= link_to 'X', c , :method=> :delete, :class=>"fr" %></span><% end %>
	<p><%= link_to c.name, c %> </p> <p><b>功能描述:</b><%= raw(c.desc) %></p></div>
<%end%>
</section>

<div class="digg_pagination">
  <%= will_paginate @commands%>
</div>

<% if can? :create, @command %>
<%= form_for(@command,:remote=>true) do |f| %>
  <div class="field">
    <%= f.text_field :command,:class=>"span10",:placeholder=>"主要指令" %>
    <%= f.text_field :name,:class=>"span10",:placeholder=>"命令" %>
    <%= f.text_field :desc,:class=>"span10",:id=>"commdesc",:placeholder=>"描述" %>
    <p class="span10 left0"><%= f.text_area :detail,:id=>"redactor_content",:placeholder=>"详细用法" %></p>
    <div class="clear"></div>
    <%= f.submit "", :value=>"添加" %>
  </div>
<% end %>
<% end %>