<!DOCTYPE html>
<html>
<head>
  <title>Aa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top">
<div class="logo fl"><%= link_to "Root Home", root_url %></div>
<% if user_signed_in? -%>
<div id="user_login_box" style="float:right">
  <%= current_user.email %> |
  <%= link_to 'My info', edit_user_registration_path %> |
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
</div>
<% end -%>


<% unless user_signed_in? -%>
<div class="loginout">
  <p class="fl"><%= link_to 'Sign up', new_user_registration_path %></p>
  <p class="fl"><%= link_to 'Sign in', new_user_session_path %></p>
  <p class="fl"><%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %></p>
<br />
</div>
<% end -%>

</div>
<div class="clear"></div>
<%= yield %>

</body>
</html>
